.head
	display: flex
	align-items: center

	&-cont
		width: 100%
		z-index: 10
		padding: 50px 0

	&-logo
		margin-right: 51px

		a
			&:hover
				border: 0

	&-text
		&__top
			font-weight: bold
			font-family: Arial
			font-size: em(22)

		&__bot
			font-size: em(16)
			font-family: Arial

@media (max-width: 1200px)
	
	.head-logo
		margin-right: 35px
		width: 145px

@media (max-width: 1000px)	

	.head-text__top
		font-size: 1.3em
