:root
	--default-font: "OpenSans", Arial, sans-serif

	--base-width: 1580px

	--base-font-size: 14px

	--main-color: #C91E1E
	
	--background-color: #F5F5F5 
	--second-color: #F4F4F4
	--thrid-color: #202730
	
	--border-color: #E9E9E9

	--input-hor-spacing: 49px
	--input-vert-spacing: 57px

	--input-padding: 17px 20px
	--select-padding: 17px 30px 17px 20px