:root
	--default-font: "Roboto", Arial, sans-serif

	--base-width: 1140px

	--base-font-size: 14px

	--main-color: #d20000
	
	--second-color: #666666
	--background-color: rgba(102, 102, 102, 0.1)
	
	--border-color: #E9E9E9

	--input-hor-spacing: 49px
	--input-vert-spacing: 57px

	--input-padding: 17px 20px
	--select-padding: 17px 30px 17px 20px