//- <!DOCTYPE html>
//- html(lang="ru")
//- 	head
//- 		meta(charset="utf-8")
//- 		title Расчёт изоляции ёмкостей
//- 		include inc/head.pug
//- 		include inc/css.pug
//- 	body.main.loading
//- 		include inc/header.pug
//- 		main#content
//- 			.wrapper
//- 				form(action="")
//- 					.main-tabs
//- 						.main-tabs__top
//- 							.main-tabs__tab.active(data-id="1")
//- 								figure
//- 									img(src="img/ico-tab-1.png", alt="")
//- 								.main-tabs__tab-title Расчет изоляций<br> труб
//- 							.main-tabs__tab(data-id="2")
//- 								figure
//- 									img(src="img/ico-tab-2.png", alt="")
//- 								.main-tabs__tab-title Расчет изоляций<br> плоскостей
//- 							.main-tabs__tab(data-id="3")
//- 								figure
//- 									img(src="img/ico-tab-3.png", alt="")
//- 								.main-tabs__tab-title Расчет изоляция<br> емкостей
//- 							.main-tabs__tab(data-id="4")
//- 								figure
//- 									img(src="img/ico-tab-4.png", alt="")
//- 								.main-tabs__tab-title Открыть последнее<br> сохранение
//- 							.main-tabs__tab(data-id="5")
//- 								figure
//- 									img(src="img/ico-tab-5.png", alt="")
//- 								.main-tabs__tab-title Очистить форму
//- 						.main-tabs__content.active(data-id="1")
//- 							.section
//- 								.section-top
//- 									.section-top__el 
//- 										span Секция 1
//- 								.section-bot
//- 									.section-label Название
//- 									.section-input
//- 										input(type="text")
//- 									.section-btn
//- 										.default-btn Добавить следующую секцию
//- 									.section-btn
//- 										.btn Удалить текущую секцию

//- 							.characteristic
//- 								.characteristic__list
//- 									.characteristic__item
//- 										.characteristic__item-top
//- 											.characteristic__item-title Окружающая среда<br> и параметры носителя
//- 											.title-icon(style="color: #e6f6fe; background-image: url('img/ico-pipe-1.png')")
//- 										.characteristic__item-filter
//- 											.default-select
//- 												.default-input__label Регион прокладки
//- 												select.default-select__select
//- 													option(value="1") Европейская часть россии
//- 													option(value="2") Урал
//- 											.default-select
//- 												.default-input__label Теплоноситель
//- 												select.default-select__select
//- 													option(value="1") Вода
//- 													option(value="2") Вода 2
//- 											.default-input
//- 												span °C
//- 												input.default-input__input(type="text" value="20")
//- 												label.default-input__label Температура окружающей среды
//- 												.default-input__error
//- 													.error-text
//- 														<!-- текст ошибки -->
//- 											.default-input
//- 												span °C
//- 												input.default-input__input(type="text" value="100")
//- 												label.default-input__label Начальная температура носителя
//- 												.default-input__error
//- 													.error-text
//- 														<!-- текст ошибки -->
//- 											.default-input
//- 												span м/c
//- 												input.default-input__input(type="text" value="10")
//- 												label.default-input__label Скорость ветра
//- 												.default-input__error
//- 													.error-text
//- 														<!-- текст ошибки -->

//- 									.characteristic__item
//- 										.characteristic__item-top
//- 											.characteristic__item-title Параметры трубы
//- 											.title-icon(style="color: #fee6e6; background-image: url('img/ico-pipe-2.png')")
//- 										.characteristic__item-filter
//- 											.default-select
//- 												.default-input__label Материал
//- 												select.default-select__select
//- 													option(value="1") Металл
//- 													option(value="2") Пластик
//- 											.default-select
//- 												.default-input__label Внешнее покрытие
//- 												select.default-select__select
//- 													option(value="1") Без покровного слоя
//- 													option(value="2") Без покровного слоя 2
//- 											.default-input
//- 												span мм
//- 												input.default-input__input(type="text" value="20")
//- 												label.default-input__label Внешний диаметр
//- 												.default-input__error
//- 													.error-text
//- 														<!-- текст ошибки -->
//- 											.default-input
//- 												span м
//- 												input.default-input__input(type="text" value="100")
//- 												label.default-input__label Длинна
//- 												.default-input__error
//- 													.error-text
//- 														<!-- текст ошибки -->
//- 											.default-input
//- 												span мм
//- 												input.default-input__input(type="text" value="3")
//- 												label.default-input__label Толщина стенки
//- 												.default-input__error
//- 													.error-text
//- 														<!-- текст ошибки -->
									
							
//- 							.isolation.tabs
//- 								.isolation-head
//- 									.title Изоляция
//- 									.title-icon(style="color: #e7faec; background-image: url('img/ico-isolation.png')")
//- 								.isolation-top.tabs
//- 									.tabs__tab(data-id="1").active СН
//- 									.tabs__tab(data-id="2") СТ
//- 									.tabs__tab(data-id="3") ТБ
//- 									.tabs__tab(data-id="4") ПК
//- 									.tabs__tab(data-id="5") З
//- 									.tabs__tab(data-id="6") Ручной расчет

//- 								.isolation-bot.tabs__content(data-id="1").active
//- 									.isolation-info Предотвращение замерзания 

//- 									.isolation-results
//- 										.isolation-results__top
//- 											.title Результат
//- 										each item, i in [{title: "Точный расчет толщины изоляции (мм):", num: "17"}, {title: "Рекомендуемая толщина для выбранной изоляции (мм):", num: "13.3"}, {title: "Температура поверхности внешнего слоя изоляции °C", num: "21.4"}, {title: "Тепловые потери согласно СП (Вт/м)", num: "55"}, {title: "Расчетные тепловые потери (Вт/м)", num: "55"}, {title: "Допустимая температура внешнего слоя согласно СП (°C)", num: "55"}, ]
//- 											.isolation-results__row
//- 												.isolation-results__title=item.title
//- 												.isolation-results__num=item.num

//- 									.isolation-row
//- 										.default-select
//- 											.default-input__label Изоляция
//- 											select.default-select__select
//- 												option(value="1") PAROC Pro Slab 80
//- 												option(value="2") PAROC Pro Slab 20
//- 										.default-input
//- 											span мм
//- 											input.default-input__input(type="text" value="30")
//- 											label.default-input__label Толщина
//- 											.default-input__error
//- 												.error-text
//- 													<!-- текст ошибки -->
//- 										a(href="") Добавить слой


//- 									.isolation__sloy
//- 										.isolation__sloy-top
//- 											.isolation__sloy-el Изоляция
//- 											.isolation__sloy-el Толщина
//- 											.isolation__sloy-el Температура
//- 										.isolation__sloy-info
//- 											.isolation__sloy-row
//- 												.isolation__sloy-el PAROC Pro Wired Mat 80
//- 												.isolation__sloy-el 30 мм
//- 												.isolation__sloy-el 44.2 °C
//- 										.isolation__sloy-bot
//- 											a(href="").btn Удалить внешний слой
//- 											a(href="").btn Удалить все слой
//- 											input.default-btn(type="submit" value="Расчитать")

//- 									.isolation-gallery
//- 										.isolation-gallery__img
//- 											img(src="img/photos/isolation.jpg", alt="")

//- 								.isolation-bot.tabs__content(data-id="2")
//- 								.isolation-bot.tabs__content(data-id="3")
//- 								.isolation-bot.tabs__content(data-id="4")
//- 								.isolation-bot.tabs__content(data-id="5")
//- 								.isolation-bot.tabs__content(data-id="6")

//- 							.results
//- 								.results-top
//- 									.title Результат
//- 									.title-icon(style="color: #ffe5e5; background-image: url('img/ico-file.png')")
//- 								.results__list
//- 									each item, i in [{title: "Точный расчет толщины изоляции", num: "0.0 мм"}, {title: "Рекомендуемая толщина для выбранной изоляции", num: "0.0 мм"}, {title: "Тепловые потери согласно СП", num: "Вт/м^2"}, {title: "Допустимая температура внешнего слоя согласно СП", num: "°C"}, {title: "Температура поверхности внешнего слоя изоляции", num: "°C"}, ]
//- 										.results__item
//- 											.results__item-title=item.title
//- 											.results__item-num=item.num
//- 								.results__bot
//- 									a(href="").default-btn Сформировать итоговую ведомость
//- 									a(href="").btn.ico-pdf протокол расчета

//- 							.save-result
//- 								.save-result__top
//- 									.title Сохранение результатов
//- 									.title-icon(style="color: #e6f6fe; background-image: url('img/ico-save.png')")
//- 								.save-result__bot
//- 									.default-input
//- 										input.default-input__input(type="text" value="Иван")
//- 										label.default-input__label Имя
//- 										.default-input__error
//- 											.error-text
//- 												<!-- текст ошибки -->
//- 									.default-input
//- 										input.default-input__input(type="email" value="info@mail.ru")
//- 										label.default-input__label Почта
//- 										.default-input__error
//- 											.error-text
//- 												<!-- текст ошибки -->
//- 									.default-input
//- 										input.default-input__input(type="tel" value="+7-900-123-12-13")
//- 										label.default-input__label Телефон
//- 										.default-input__error
//- 											.error-text
//- 												<!-- текст ошибки -->
//- 									input.default-btn(type="submit" value="Сохранить результат") 





//- 						.main-tabs__content(data-id="2")
//- 						.main-tabs__content(data-id="3")
//- 						.main-tabs__content(data-id="4")
//- 						.main-tabs__content(data-id="5")

			



//- 		include inc/footer.pug
//- 		include inc/scripts.pug
