@import "../css/common.css"
@import "swiper/dist/css/swiper.css"

@import "_vars.sss"
@import "_base.sss"
@import "_404.sss"
@import "_text-styles.sss"
@import "_form-elements.sss"
@import "_title-block.sss"


@import "_standart-page.sss"
@import "my-select.sss"

@import "_footer.sss"
@import "_header.sss"




