footer.footer
	.wrapper
		.footer-text Данная программа рассчитывает характеристики системы с технической изоляцией PAROC и носит рекомендательный характер.<br> Paroc Group не несет ответственность за прямой или косвенный ущерб, в результате использования данной программыес

