footer.footer-cont
	.wrapper
		.footer
			.footer__el
				.footer__copy
					div © 2019 «AISURU»
					a(href="#") Политика конфиденциальности
				.footer__dev
					a.dev(href="#")
						.dev-text Cделано в
						.dev-img
							img(src="img/ico-dev.svg")
			.footer__el
				.f-menu
					ul
						li
							a(href="") О компании
						li
							a(href="") Доставка
						li
							a(href="") Оплата
						li
							a(href="") Контакты
			.footer__el
				.footer__el-phone
					a(href="tel:+79815342122") +7-981-534-21-22 
					a(href="").fancybox Заказать звонок

				.footer__el-email
					a(href="") info@aisuru.ru
			.footer__el
				.footer__subscriber
					.footer__subscriber-text Подпишитесь на рассылку для получения информации о наших новинках, мероприятиях и возможных акциях.
					.footer__subscriber-form-cont
						form(action="")
							.footer__subscriber-form
								input(type="text" placeholder="E-mail")
								input(type="submit" value="Подписаться")

