.popup#form-1
	.form__title 
		span Последний сохранённый результат расчёта будет перезаписан
		img(src="img/form-logo.png", alt="")
	form(action="#")
		.form__submit
			.form__submi
				.form__submit-btn
					input.default-btn(type="submit" value="Сохранить")
					a(href="").btn Отменить
				

