header.head-cont
	.wrapper
		.head
			.head-logo
				a(href="/")
					img(src="img/index-logo.jpg", alt="")
			.head-text
				.head-text__top Программа расчёта тепловой изоляции PAROC
				.head-text__bot Расчёты выполняются согласно СП 61.13330.2012


			
			