header.head-cont
	.wrapper
		.head
			.head-logo
				a(href="/")
					//- include ../../img/index-logo.svg
			nav.main-nav
				ul.main-nav__list
					each item, i in [{title: 'Каталог', href: ""}, {title: 'О компании', href: ""}, {title: 'Доставка', href: ""}, {title: 'оплата ', href: ""}, {title: 'контакты', href: ""}]
						li.main-nav__item
							a(href=''+item.href+'').main-nav__link=item.title

			.head-contacts
				.head-phone
					a(href="tel:+79815342122") +7-981-534-21-22 

				.head-callback
					a(href="").fancybox Заказать звонок


			.head-search
				span
					//- include ../../img/ico-search.svg

			.head-favorite
				a(href="")
					span(data-count="2")
						//- include ../../img/ico-favorite.svg
			.head-cart
				a(href="")
					span(data-count="2")
						//- include ../../img/ico-cart.svg
			.burger
				span



