.links_cont li input {
	margin-right: 10px;
}
.links_cont li{
	width: 260px;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 15px 0;
	font-size: 16px;
}
.links_cont{
	width: 750px;
	
}
.links{
	padding: 20px 100px;
	
}
.links_logo{
	margin: 0;
}
.links_logo img{
	width: 300px;
	height: auto;
}

@media screen and (max-width: 800px){
	.links{
		padding: 20px 20px;
	}
	.links_cont{
		width: auto;
	}
	.links_cont li{
		width: auto;
		display: block;
	}
	.links_logo img{
		width: auto;
		max-width: 100%;
	}
}