<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Расчет изоляции плоскостей
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		include inc/header.pug
		main#content
			.wrapper
				ul
					li
						a(href="#form-1").fancybox Всплывающее окно
					li
						a(href="#form-2").fancybox Всплывающее окно 2
					li
						a(href="#form-3").fancybox Всплывающее окно 3

				<br><br>
			



		include inc/forms.pug
		include inc/footer.pug
		include inc/scripts.pug
