<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Paroc
		link(rel="shortcut icon" href="favicon.ico")
		link(rel="stylesheet" href="css/main.css")
		style(type="text/css")
			include inc/index.css
	body
		div
			.links
				.logo
					//- include ../img/index-logo.svg
					br
					br
					br
				.links_cont
					ul
						li
							a(target="_blank" href="main.html") Главная
