<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Paroc
		link(rel="shortcut icon" href="favicon.ico")
		link(rel="stylesheet" href="css/main.css")
		style(type="text/css")
			include inc/index.css
	body
		div
			.links
				.logo
					img(src="img/index-logo.jpg", alt="")
					br
					br
					br
				.links_cont
					ul
						li
							a(target="_blank" href="main.html") Расчет изоляции труб
						li
							a(target="_blank" href="main-2.html") Расчет изоляции труб
						li
							a(target="_blank" href="main-3.html") Расчёт изоляции ёмкостей
						li
							a(target="_blank" href="main-4.html") Расчет изоляции плоскостей.
