<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		include inc/loader.pug
		include inc/header.pug
		main#content
			



		include inc/footer.pug
		include inc/scripts.pug
