<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/loader.pug
		include inc/header.pug
		include inc/breadcrumbs.pug
		+titleBLock(["Главная",  "о компании"])
		main#content
			.content
				.wrapper
					.standart-slider
						.swiper-list
							.swiper-wrapper
								.swiper-slide
									.standart-slider__item
										figure
											img(src="img/photos/standart-img.jpg", alt="")
								.swiper-slide
									.standart-slider__item
										figure
											img(src="img/photos/standart-img.jpg", alt="")
						.swiper-button.swiper-button-prev
						.swiper-button.swiper-button-next

					.standart-page
						
						.text-page
							p(align="right")
								img(src="img/photos/standart-i.jpg")
								br
								span(style="text-align: left; display: block;")
									span(style="font-weight: bold;") Рис 1. 
									| В челябинске открылось 2 магазина
							h2 h2. В Челябинске открылись два новых фирменных магазина(может быть в две строки)
							p Лид — это первый абзац статьи, информативный отрывок позволяющий захватить внимание читателя на данном материале. Необязательный элемент.
								br
								| Эта страница создана для демонстрации блоков и элементов, которые используются на сайте, и служит руководством для всех, кто работает над 
								br
								| ним. Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. 
								br
								| Контент-менеджеры и редакторы используют страницу в качестве справочника по верстке типовых страниц. Здесь же рассказывается о некоторых общих правилах оформления контента.
							h3 H3. Дополнительная колонка может быть снабжена заголовками и может быть длинной
							p Многострочный заголовок, длина которого иногда бывает так некстати Типовые элементы оформляются в системе администрирования через визуальный редактор «Реформатор». Чтобы контент-менеджеру было легче в них ориентироваться, их количество лучше свести к необходимому минимуму.
							h4 H4. Дополнительная колонка может быть снабжена заголовками и может быть длинной
							p Имманентный подход подразумевает отношение к тексту как к автономной реальности, нацеленность на выявление его внутренней структуры. Репрезентативный — рассмотрение текста как особой формы представления знаний о внешней тексту действительности.
							h5 H5. В первую очередь нас интересуют интерлиньяж и отступы, но не стоит забывать и про сам заголовок
							p Текст состоит из некоторого количества предложений. Одно предложение, даже очень распространённое, сложное, текстом назвать нельзя, поскольку текст можно расчленить на самостоятельные предложения, а части предложения сочетаются по законам синтаксиса сложного предложения, но не текста.
							h5 Списки
							p Кроме того, существуют правила оформления списков:
							ul
								li Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.
									ul
										li Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.
										li Если пункты списка короткие, не являются самостоятельной законченной конструкцией и грамматически тесно связаны с предшествующей списку вводной фразой
								li Если пункты списка короткие, не являются самостоятельной законченной конструкцией и грамматически тесно связаны с предшествующей списку вводной фразой, они должны начинаться со строчной буквы и заканчиваться точкой с запятой (в конце последнего пункта — точка).
							br
							br
							ol
								li Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.
								li Если пункты списка короткие, не являются самостоятельной законченной конструкцией и грамматически тесно связаны с предшествующей списку вводной фразой, они должны начинаться со строчной буквы и заканчиваться точкой с запятой (в конце последнего пункта — точка).
							h4 Ссылки
							p На сайте может встречаться несколько видов ссылок. Например, ссылка на 
								a(href="#") Яндекс 
								| является внешней. Внутренние ссылки могут открываться по умолчанию в текущем окне (например, переход на 
								a(href="#") главную страницу
								| ) или в 
								a(href="#" target="_blank") новом окне 
								| (например, для показа изображений в оригинальном размере). 
							table(border="1")
								thead
									tr
										th 
											p Название 1
										th 
											p(style="text-align: center") Название 2
										th 
											p(style="text-align: center") Название 3
										th 
											p(style="text-align: center") Название 4
								tbody
									each item in ["1", "2", "Текст", ]
										tr
											td=item
											td 
												p(style="text-align: center") 5 000 руб.
											td 
												p(style="text-align: center") 35 дней
											td 
												p(style="text-align: center") 3,3%



					



		include inc/footer.pug
		include inc/scripts.pug
